<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Heroes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link href="assets/heroes.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Heroes</h1>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text"><strong>New Hero</strong></p>
                  <div class="d-flex justify-content-center align-items-center">
                    <form class="add-heroes" action="/heroes" method="POST">
                      <label for="name" class="sr-only">Name</label>
                      <input type="text" name="name" class="form-control" placeholder="Name" required>
                      <label for="identity" class="sr-only">Identity</label>
                      <input type="password" name="identity" class="form-control" placeholder="Identity" required>
                      <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Add</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {{range .Heroes}}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href="/heroes/{{.Name}}"><img style="width: 200px;" class="card-img-top" src="{{.ImageURL}}" alt="Card image cap"></a>
                <div class="card-body">
                  <p class="card-text">{{.Name}}</p>
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="/heroes/{{.Name}}" role="button">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
